.btn{
    height: 40px;
    width: fit-content;
    padding: 0 20px;

    border-radius: 5px;
    margin: 50px;

    background-color: blueviolet;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}